.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: white;
  font-size: calc(24px + 2vmin);
  
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin: 0px;
  margin-top: -1px;
  margin-bottom: -1px;
  vertical-align: middle;
  position: relative;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  position: relative;
  z-index: 0;
}

.tiles {
  position: relative;
  bottom: 407px;
  right: 302px;
  z-index: 1;
}

